<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
fxLayoutGap="2%" fxLayoutAlign="center">
  <div fxFlex="50%">
    <p id="title">Insert Clubs Details<p>
    <mat-card>
      <form (ngSubmit)="onSubmit()" [formGroup]="clubForm">
        <mat-form-field class="w-100">
           <input matInput placeholder="Club Name" formControlName = "clubName" [(ngModel)] = "clubLogoName"/>
           <mat-error>Club name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select placeholder = "Is Current Playing" 
            formControlName= "isCurrentPlaying">
              <mat-option value="true">
                true
              </mat-option>
              <mat-option value="false">
                false
              </mat-option>
              </mat-select>
              <mat-error>
                It is required
              </mat-error>
          </mat-form-field>
            <input mat-file type= "file"
              (change) ="onFileSelected($event)" 
              formControlName = "file">
              <div class="error" *ngIf="!clubForm.controls['file'].valid && clubForm.controls['file'].touched"
              >
                  File Format must be jpg or png
              </div> 
        <button class="w-100 mt-15" mat-button 
          [disabled]="clubForm.invalid || clubForm.prestine"
          >Save Inserted Club</button> 
        </form>
    </mat-card>
    <mat-card class="mt-15">
      <mat-card-header>
        <mat-card-title>{{clubLogoName}}</mat-card-title>
      </mat-card-header>
      <img [src] ="imageSrc || 'http://placehold.it/180'" alt="Club logo"
      height="100px" width="100px"
      /> 
    </mat-card>
  </div>
  <div fxFlex="65%" class="item-center">
    <p id="title">Club list</p>
    <perfect-scrollbar id="scrollbar" [config]="config"
    class="w-100"
    >
      <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter($event.target.value)" 
        class="w-100"
        placeholder="Filter by club Name">
      </mat-form-field>
    <table mat-table [dataSource] = "clubdetails" class="mat-elevation-z8 w-100"
    
    >
      <ng-container matColumnDef = "fileName">
        <th mat-header-cell *matHeaderCellDef>Logo</th>
        <td mat-cell *matCellDef="let element">
            <img src= "assets/outside-assets/{{element.fileName}}"
            alt="assets/outside-assets/{{element.fileName}}"
            height="75px" width="75px">
        </td>
      </ng-container>
      <ng-container matColumnDef= "clubName">
        <th mat-header-cell *matHeaderCellDef> Club Name</th>
        <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
      </ng-container>
      <ng-container matColumnDef= "isCurrentSeasonPlaying">
          <th mat-header-cell *matHeaderCellDef> Game Status</th>
          <td mat-cell *matCellDef="let element"> {{element.isCurrentSeasonPlaying}} </td>
      </ng-container>
    <ng-container matColumnDef= "action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
             <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateClub(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
        </td>
       
    </ng-container>
      <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">  
    </table>
  </perfect-scrollbar>
  </div>
</div>