<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
fxLayoutGap="0.5%" fxLayoutAlign="center" style="margin: 5px">
  <div fxFlex="50%">
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="clubForm">
          <mat-form-field style="width: 100%">
             <input matInput placeholder="Club Name" 
             formControlName = "clubName"
             />
              <mat-error>
                Club name is required
              </mat-error>
            </mat-form-field>
              <input type="file" (change) ="onFileSelected($event)"/>
              <button mat-button >Save Inserted Club</button>
          </form>
    </div>
  </div>
  <div fxFlex="50%">
      Display Clubs
  </div>
</div>