<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
fxLayoutGap="2%" fxLayoutAlign="center">
  <div fxFlex="50%">
    <p style="margin:5%; margin-left: 35%">Insert Clubs Details<p>
    <mat-card>
      <form (ngSubmit)="onSubmit()" [formGroup]="clubForm">
        <mat-form-field style="width: 100%">
           <input matInput placeholder="Club Name" formControlName = "clubName" [(ngModel)] = "clubLogoName"/>
           <mat-error>Club name is required</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <mat-select placeholder = "Is Current Playing" 
            formControlName= "isCurrentPlaying">
              <mat-option value="true">
                true
              </mat-option>
              <mat-option value="false">
                false
              </mat-option>
              </mat-select>
              <mat-error>
                It is required
              </mat-error>
          </mat-form-field>
            <input mat-file type= "file"
              (change) ="onFileSelected($event)" 
              formControlName = "file">
              <div *ngIf="!clubForm.controls['file'].valid && clubForm.controls['file'].touched"
              style="font-size:12px; color: red">
                  File Format must be jpg or png
              </div> 
        <button mat-button style="width: 100%; margin-top: 15px"
          [disabled]="clubForm.invalid || clubForm.prestine"
          >Save Inserted Club</button> 
        </form>
    </mat-card>
    <mat-card style="margin-top: 15px">
      <mat-card-header>
        <mat-card-title>{{clubLogoName}}</mat-card-title>
      </mat-card-header>
      <img [src] ="imageSrc || 'http://placehold.it/180'" alt="Club logo"
      height="100px" width="100px"
      /> 
    </mat-card>
  </div>
  <div fxFlex="50%" style="align-items: center">
    <p style="margin:5%; margin-left: 35%">Club list</p>
    <perfect-scrollbar style="max-width:600px; max-height:500px;" [config]="config"
    class="fullWidth"
    >
      <mat-form-field style="width: 100%">
        <input matInput (keyup)="applyFilter($event.target.value)" 
        class="fullWidth"
        placeholder="Filter by club Name">
      </mat-form-field>
    <table mat-table [dataSource] = "clubdetails" class="mat-elevation-z8"
    style="width: 100%;"
    >
      <ng-container matColumnDef = "fileName">
        <th mat-header-cell *matHeaderCellDef>Logo</th>
        <td mat-cell *matCellDef="let element">
            <img src= "assets/outside-assets/{{element.fileName}}"
            alt="assets/outside-assets/{{element.fileName}}"
            height="75px" width="75px">
        </td>
      </ng-container>
      <ng-container matColumnDef= "clubName">
        <th mat-header-cell *matHeaderCellDef> Club Name</th>
        <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
      </ng-container>
      <ng-container matColumnDef= "isCurrentSeasonPlaying">
          <th mat-header-cell *matHeaderCellDef> Club Name</th>
          <td mat-cell *matCellDef="let element"> {{element.isCurrentSeasonPlaying}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">  
    </table>
  </perfect-scrollbar>
  </div>
</div>