<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
fxLayoutGap="2%" fxLayoutAlign="center">
 <div fxFlex="50%">
  <p style="margin:5%">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <img style="border-radius:50%" id = "playerImage" [src] ="clubImage || 'http://placehold.it/180'"
        alt="Club picture" height="45px" width="45px"/>    
      </mat-grid-tile>
      <mat-grid-tile>
       {{clubName}}
      </mat-grid-tile>
    </mat-grid-list> 
    <p>
    <mat-card>
      <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="width:100%">
          <mat-select placeholder="Choss a clubs" formControlName="playerclubName" 
          (selectionChange) = "clubNameChanged($event.value)">
            <mat-option *ngFor= "let club of clublist" [value]="club.id">
              {{club.clubName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:100%;">
          <input matInput placeholder="Player Name" formControlName="playerName"/>
          <mat-error>
            Player Name required
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-select placeholder="Player Position" formControlName="playerPosition">
            <mat-option *ngFor="let position of playerPositions" [value]="position.value">{{position.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <input mat-file type="file" formControlName = "file" 
        (change) = "onFileSelected($event)"
        />
        <div *ngIf="!playerForm.controls['file'].valid && playerForm.controls['file'].touched"
        style="font-size: 12px; color: red">
        File Format must be jpg or png
       </div>
        <button mat-button style="width: 100%;margin-top:15px"
        [disabled]="playerForm.invalid || playerForm.prestine"
        >Insert Player</button>
      </form>
    </mat-card>
    <mat-card style="margin-top:15px">
      <mat-card-header>             
      </mat-card-header>
      <img style="border-radius:50%" id = "playerImage" 
      [src] ="playerImage || 'http://placehold.it/180'"
       alt="player picture" alt="Avatar" height="75px" width="75px"/> 
    </mat-card>
  </div>
 <div fxFlex= "50%" style="align-items: center">
  <p style="margin:5%; margin-left: 35%; margin-top:55px">Player list</p>
  <perfect-scrollbar style="max-width:600px; max-height:400px;" [config]="config">
   <mat-form-field style="width: 100%">
     <input matInput (keyup) = "applyFilter($event.target.value)" placeholder="Filter by player Name">
   </mat-form-field>
    <table mat-table [dataSource] = "playerdetails" 
    style="width: 100%">
      <ng-container matColumnDef = "fileName">
        <th mat-header-cell *matHeaderCellDef>Logo</th>
        <td mat-cell *matCellDef="let element">
            <img src= "assets/outside-assets/{{element.fileName}}"
            alt="assets/outside-assets/{{element.fileName}}"
            height="100px" width="100px">
        </td>
      </ng-container>
      <ng-container matColumnDef= "playerName">
        <th mat-header-cell *matHeaderCellDef> Player Name</th>
        <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
      </ng-container>
      <ng-container matColumnDef= "playerPosition">
        <th mat-header-cell *matHeaderCellDef> Player Position</th>
        <td mat-cell *matCellDef="let element"> {{element.playerPosition}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">  
    </table>
  </perfect-scrollbar>
  </div>
</div>
