img {
    max-width: 50%; 
    height: auto; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.m-5{
    margin: 5%;
}
#insert-player{
    max-width:600px; 
    max-height:400px;
}
#player-list-title{
    margin-left: 35%; 
    margin-top:55px
}
#player-scrollbar{
    max-width:600px; 
    max-height:400px;
}
#insert-player-button{
    margin-top:15px
}
