<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
fxLayoutGap="2%" fxLayoutAlign="center">
 <div fxFlex="50%">
  <p style="margin:5%; margin-left: 35%">Inserted Player Details<p>
    <mat-card>
      <form [formGroup]="playerForm">
        <mat-select placeholder="Choss a clubs" formControlName= "clubName">
          <mat-option *ngFor= "let club of clublist" [value]="club.id">
             {{club.clubName}}
          </mat-option>
        </mat-select>
        <mat-form-field style="width:100%;margin-top: 4px">
          <input matInput placeholder="Player Name" formControlName="playerName"/>
          <mat-error>
            Player Name required
          </mat-error>
        </mat-form-field>
        <input mat-file type="file" formControlName = "file"/>
        <button mat-button style="width: 100%;margin-top: 15px"
        [disabled]="playerForm.invalid || playerForm.prestine"
        >Insert Player</button>
      </form>
    </mat-card>
    <mat-card style="margin-top:15px">
      <mat-card-header>
          kan     
      </mat-card-header>
      <img style="border-radius:50%" id = "playerImage" [src] ="imageSrc || 'http://placehold.it/180'"
       alt="player picture" alt="Avatar"/> 
    </mat-card>
  </div>
 <div fxFlex= "50%" style="align-items: center">
    <p style="margin:5%;margin-left: 35%">Player list</p>
  </div>
</div>
