<div class="split left">
  <div class="centered">
    <h2 class="welcomeMessage"> Fantasy Helper</h2> 
  </div>
</div>
<div class="split right">
  <div class="centered">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <mat-form-field>
      <input matInput placeholder="User Name" name="name" formControlName = "name"/>
      <mat-error *ngIf= "!userForm.controls['name'].valid && userForm.controls['name'].touched">
          User name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName = "password" />
      <mat-error *ngIf= "!userForm.controls['name'].valid && userForm.controls['name'].touched">
          Password is required
      </mat-error>
    </mat-form-field><br>
    <button mat-button >Login</button>
  </form>
  </div>    
</div>
