<form [formGroup]="goalForm" (ngSubmit)="onSubmit()">
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="2%" fxLayoutAlign="center">
  <div fxFlex="40%">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img class="radius-50" id = "playerImage" [src] ="clubImage || 'http://placehold.it/180'"
               alt="Club picture" height="34pxpx" width="34pxpx"/>
        </div>
        <mat-card-title>Filter player Information</mat-card-title>
      </mat-card-header>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
             fxLayoutGap="2%" fxLayoutAlign="center">
          <div fxFlex="50%">
            <mat-form-field >
              <mat-select placeholder="Select Club Name" (selectionChange) = "clubNameChanged($event.value)" formControlName="clubName">
                <mat-option *ngFor= "let club of clublist" [value]="club.id">{{club.clubName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field>
              <mat-select placeholder="Player Postion" (selectionChange)="playerPostionChanged($event.value)" formControlName="playerPostion">
                <mat-option *ngFor="let position of playerPositions" [value]="position.value">{{position.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
             fxLayoutGap="2%" fxLayoutAlign="center">
          <div fxFlex="50%">
            <mat-form-field>
              <mat-select placeholder="Select Player Name" (selectionChange)="playerChanged($event.value)" formControlName="playerName">
                <mat-option *ngFor="let player of playerDetails" [value]="player.id">{{player.playerName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50%">
          </div>
        </div>
    </mat-card>

    <mat-card style="margin-top: 8px" *ngIf = "hiddenPlayerInformation">
      <mat-card-header>
        <div mat-card-avatar>
          <img class="radius-50" id = "playerImage" [src] ="playerImage || 'http://placehold.it/180'"
               alt="Club picture" height="34px" width="34px"/>
        </div>
        <mat-card-title>Update Goal Information of Player</mat-card-title>
      </mat-card-header>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
           fxLayoutGap="2%" fxLayoutAlign="center">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-select placeholder="Select Season" formControlName="seasonName" (selectionChange)="playerSeasonChange($event.value)">
              <mat-option *ngFor="let season of seasonDetails" [value]="season.id">{{season.seasonName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field >
            <mat-select placeholder="Select Club he playe" formControlName="clubNameplayerPlayed" (selectionChange)="clubPlayedChanged($event.value)">
              <mat-option *ngFor= "let club of clublistplayed" [value]="club.id">{{club.clubName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
           fxLayoutGap="2%" fxLayoutAlign="center">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-select placeholder="Home Goal score" formControlName="homegoalscore">
              <mat-option *ngFor="let goal of goalScore" [value]="goal.value">{{goal.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field >
            <mat-select placeholder="Away Goal score" formControlName="awaygoalscore">
              <mat-option *ngFor="let goal of goalScore" [value]="goal.value">{{goal.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
           fxLayoutGap="2%" fxLayoutAlign="center">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-select placeholder="Home Goal consider" formControlName="homegoalconsider">
              <mat-option *ngFor="let goal of goalScore" [value]="goal.value">{{goal.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field >
            <mat-select placeholder="Away Goal consider" formControlName="awaygoalconsider">
              <mat-option *ngFor="let goal of goalScore" [value]="goal.value">{{goal.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button id="submit_goal_update" mat-button class="w-100">Update Goal</button>
    </mat-card>
  </div>
  <div fxFlex="60%">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="Filter by club Name"/>
    </mat-form-field>
    <table mat-table [dataSource]="goalDetails" class="mat-elevation-z8 w-100">
      <ng-container matColumnDef="clubFileName">
        <th mat-header-cell  *matHeaderCellDef>Logo</th>
        <td mat-cell *matCellDef="let element">
          <img src= "assets/outside-assets/{{element.clubFileName}}"
               alt="assets/outside-assets/{{element.clubFileName}}"
               height="25px" width="25px"/>
        </td>
      </ng-container>
      <ng-container matColumnDef="clubName">
        <th mat-header-cell  *matHeaderCellDef>ClubName</th>
        <td mat-cell *matCellDef="let element">
           {{element.clubName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="homeGoalScore">
        <th mat-header-cell  *matHeaderCellDef>Home Goal Score</th>
        <td mat-cell *matCellDef="let element">
          {{element.homeGoalScore}}
        </td>
      </ng-container>
      <ng-container matColumnDef="awayGoalScore">
        <th mat-header-cell  *matHeaderCellDef>Away goal Score</th>
        <td mat-cell *matCellDef="let element">
          {{element.awayGoalScore}}
        </td>
      </ng-container>
      <ng-container matColumnDef="homeGoalConsider">
        <th mat-header-cell  *matHeaderCellDef>Home Goal Consider</th>
        <td mat-cell *matCellDef="let element">
          {{element.homeGoalConsider}}
        </td>
      </ng-container>

      <ng-container matColumnDef="awayGoalConsider">
        <th mat-header-cell  *matHeaderCellDef>Away Goal Consider</th>
        <td mat-cell *matCellDef="let element">
          {{element.awayGoalConsider}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator  #paginator  [pageSize]="5" [pageSizeOptions]="[3,5,10]">
    </mat-paginator>
  </div>
</div>
</form>
