.mat-column-clubFileName, .mat-colum-clubName, .mat-column-homeGoalScore, .mat-column-awayGoalScore, .mat-column-awayGoalConsider, .mat-column-homeGoalConsider {
  width: 100px;
  height: 70px;
}

.w-100{
  width: 100%;
}
